body {
  background: transparent url("../images/stone-wall.jpg") repeat;
  font-size: 13px;
  font-family: 'Droid Sans', Arial, Verdana, sans-serif;
  font-weight: normal;
  line-height: 20px;
  width: 100%;
  color: $darkerGray;
}