h2 {
  font-family: 'Bebas', 'Bebas Neue', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: $lightBlack;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

h3 {
  font-size: 23px;
  margin-top: 25px;
  margin-bottom: 10px;
  line-height: 1em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
}