.c-mainSection {
  background: $white;
  padding: 10px;
  padding-top: 30px;
  overflow: hidden;

  &__inner {
    padding: 20px;
    margin-bottom: 40px;
  }
  &__title {
    font-size: 28px;
    border-bottom: 1px solid $lightGray;
  }
  p {
    margin-bottom: 10px;
  }
}