$beige: #d7c9b3;
$brown: #937764;
$darkBrown: #5b4337;
$white: #ffffff;
$grayishWhite: #f9f9f9;
$lightGray: #ececec;
$gray: #aaaaaa;
$darkGray: #666666;
$darkerGray: #393939;
$lightBlack: #2d2d2d;
$black: #222222;
$shadow: rgba(0, 0, 0, 0.2);
$facebookBlue: #39599f;